$glacier: #e0f7fa; // Primary in light theme.
$icyfjord: #a8cfd1; // Secondary in dark theme.

$monica: #faacea; // Soft pink.
$croissant: #f5e1a4; // Creammy-yellow.
$old-sedan: #6e7f80; // Pale cyan.
$chromium: #d1d5db; // Lucide white.
$croissant: #f5deb3; // Soft yellow.
$europe-sky: #9ec6e6; // Soft blue.
